<footer class="footer">
    <div>
        <h3>AMPEREZ</h3>
        <p>El mejor equipo de cómputo para uso personal.</p>
    </div>
    <div>
        <h3>ENLACES RÁPIDOS</h3>
        <a href="#">Inicio</a>
        <a href="#">Products</a>
        <a href="#">Nosotros</a>
    </div>
    <div>
        <h3>CONTÁCTANOS</h3>
        <p>contactoamperez.com</p>
        <p>+52 123 456 7890</p>
        <p>Ciudad de México, México</p>
    </div>

  

    <div class="copyright">
        © 2025 amPerez. Todos los derechos reservados.
    </div>
</footer>

