<div style="width: 60%; margin: 0 auto;">
    <div class="card-group">
      <div class="row">
      @for( p of products; track p ){
    
      <div class="card col-md-3 mb-3 card">
        <img [src]="p.img" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{p.name}}</h5>
          <p class="card-text">{{p.description}}.</p>
          <div style="display: flex;">
          <p style="margin-right: 20px;" class="card-text"><strong class="text-body-secondary">${{p.price}}</strong></p>
          <button style="background-color: blue; color: white; font-size: 12px;" class="btn">Agregar al Carrito</button>
        </div>
        </div>
      </div>
    }
     </div>
    </div>
    
    
    <div style="width: 60%; margin: 0 auto;">
      <div class="card-group">
        <div class="row">
        @for( p of products; track p ){
      
        <div class="card col-md-12 mb-4 card">
          <img [src]="p.img" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{p.name}}</h5>
            <p class="card-text">{{p.description}}.</p>
            <div style="display: flex;">
            <p style="margin-right: 20px;" class="card-text"><small class="text-body-secondary">${{p.price}}</small></p>
            <button style="background-color: blue; color: white; font-size: 12px; margin-left: 440px;" class="btn">Agregar al Carrito</button>
          </div>
          </div>
        </div>
      }
       </div>
      </div>